/* Google Fonts - Arvo and Lato */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
   --primary-font: "Arvo", sans-serif;
   --secondary-font: "Lato", cursive;
   --primary-background-color: #92E6F0;
   /* light blue */
   --secondary-background-color: #F6F7F9;
   /* off-white */
   --primary-font-color: #1C261E;
   /* dark green */
   --tertiary-background-color: #5e8697;
   /* dark colour */
   --quaternary-background-color: #222529;
   /*grey*/
   --secondary-font-color: #9b9d9e;
}

/* Global Styles */

html {
   scroll-behavior: smooth;
   /*trying to fix the nav link to section overlap */
}

h2 {
   font-family: var(--primary-font);
   background-color: var(--quaternary-background-color);
   color: var(--primary-background-color);
   font-weight: 200;
   border-radius: 5%;
   margin-top: 10px;
}

/* Section Headings */

h4,
h5 {
   text-align: center;
   font-family: var(--primary-font);
}

/* Service card and Testimonial card headings */

body {
   /* Set to ensure the navbar doesn't block the content */
   background-color: var(--tertiary-background-color);
}

img {
   width: 100%;
}

.image-style {
   border-radius: 30px;
   width: 100%;
   height: 170px;
   object-fit: contain;
   display: block;
   margin-left: auto;
   margin-right: auto;
   aspect-ratio: 1;
}

.image-style2 {
   border-radius: 30px;
   width: 100%;
   height: 450px;
   object-fit: contain;
   margin-left: auto;
   margin-right: auto;
   aspect-ratio: 1;
}

.enq-btn {
   margin: 10px auto 0;
   border: dashed var(--secondary-background-color) 6px;
   background-color: var(--quaternary-background-color);
   color: var(--secondary-font-color);
   display: block;
   width: 10rem;
   font-size: large;
   font-family: var(--primary-font);
}

.enq-btn:hover {
   border: dashed var(--quaternary-background-color) 6px;
   background-color: var(--primary-background-color);
   color: var(--quaternary-background-color);
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 10rem;
   font-size: large;
   font-family: var(--primary-font);
}

/* Navbar Styling */
h1 {
   color: var(--secondary-font-color);
   text-decoration: none;
   font-family: var(--primary-font);
}

.nav-link {
   font-size: larger;
   font-family: var(--primary-font);
}

#nav-button {
   font-size: medium;
}

a:link,
a:visited,
a:hover,
a:active {
   text-decoration: none;
}

/* Carousel */
.carousel-image-size {
   object-fit: contain;
   border-radius: 30px;
   display: flex;
   align-items: center;
   margin: 70px auto 0;
}

/* About Me Section */
#about-me {
   padding-top: 15px;
   margin-top: -15px;
}

#about-me-header {
   margin-block: 12px;
}

#about-image-size {
   width: 12rem;
   border-radius: 30px;
   object-fit: contain;
   margin-bottom: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   aspect-ratio: 1;
}

#about-text {
   margin-inline: auto;
   background-color: var(--quaternary-background-color);
   font-family: var(--secondary-font);
   font-size: large;
   font-family: var(--secondary-font);
   text-align: start;
   border-radius: 20px;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
   color: var(--secondary-background-color)
}

Main>section>div>div>div>i {
   font-size: xx-large;
   padding: 5px;
}

.aboutcard {
   font-size: small;
   font-family: var(--primary-font);
}

.card-shape {
   border: dashed 4px var(--primary-background-color);
   margin: 0 auto 20px;
   width: 15rem;
   display: flex;
   justify-content: center;
   border-radius: 30px;
   padding: 12px;
   align-items: center;
   height: 100%;
}

/* Services cards */
#services {
   padding-top: 15px;
   margin-top: -15px;
}

#services-header {
   margin: 12px 0 0 0;
}

.service-card {
   padding-top: 12px;
   background-color: var(--quaternary-background-color);
   color: azure;
   border-radius: 30px;
   width: 25rem;
   margin-top: 10px;
}

#puppyprice,
#dogprice,
#soloprice {
   border: 2px dashed var(--primary-background-color);
   margin-bottom: 5px;
   border-radius: 30px;
}

video {
   position: relative;
   display: flex;
   justify-content: center;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-inline: auto;
   width: 100%;
   height: 185px;
}

/* Testimonials*/
#testimonials {
   padding-top: 15px;
   margin-top: -15px;
}

#testimonials-header {
   margin-bottom: 0;
}

.testimonial-card {
   padding-top: 12px;
   background-color: var(--quaternary-background-color);
   color: azure;
   border-radius: 30px;
   justify-content: space-evenly;
   width: 25rem;
   margin-top: 10px;
}

.testimonial-card-body {
   padding-top: 5px;
}

/* Enquiry Page */
#enq-title {
   height: auto;
   width: 50%;
   display: block;
   font-family: var(--primary-font);
   color: var(--secondary-font-color);
   background-color: var(--quaternary-background-color);
   border-radius: 20px;
   margin: 65px auto 0;
}

.form-section {
   display: flex;
   flex-direction: column;
   background-size: cover;
   padding: 20px 10% 20px 10%;
   flex-grow: 1;
   font-family: var(--primary-font);
   color: var(--primary-font-color);
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-block: 12px;
}

#enq-intro {
   font-family: var(--secondary-font);
   width: 100%;
   padding-block: 10px;
   border-block: 2px var(--quaternary-background-color) solid;
}

.submit-style {
   border-radius: 0.375rem;
   min-height: 3rem;
   min-width: 8rem;
   color: var(--primary-font-color);
   border: dashed var(--quaternary-background-color) 6px;
   font-weight: 700;
   display: block;
   margin-inline: auto;
   background-color: var(--secondary-font-color);
}

.submit-style:hover {
   color: var(--primary-font-color);
   background-color: var(--primary-background-color);
   border: dashed var(--quaternary-background-color) 6px;
}

/* Success Page */
.success {
   height: auto;
   width: 75%;
   display: block;
   margin: 112px auto 0;
   padding: 5px 5px 5px 5px;
   background-color: var(--quaternary-background-color);
   border-radius: 20px;
}

.text {
   display: flex;
   flex-direction: column;
   background-color: var(--quaternary-background-color);
   background-size: cover;
   padding: 20px 10% 20px 10%;
   flex-grow: 1;
   font-family: var(--primary-font);
   color: var(--secondary-background-color);
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   margin-top: 50px;
}

/* Footer */
#page-end {
   margin-top: 12px;
}

footer {
   background-color: var(--quaternary-background-color);
   color: var(--secondary-font-color);
   font-family: var(--secondary-font);
   font-weight: 500;
   font-size: large;
   width: 100%;
   margin-top: 10px;
}

.logo-style {
   color: var(--secondary-font-color);
   text-decoration: none;
   font-size: xx-large;
}

footer>div>div>div>h2 {
   margin: 10px 150px 10px 150px;
}


footer>div>div>div>div>h2 {
   margin: 10px 150px 10px 150px;
}

/* Media query: phones (425 and down) */
@media screen and (max-width: 425px) {
   h1 {
      font-size: 20px;
   }

   /* Footer */
   footer>div>div>div>h2 {
      margin: 10px 0px 10px 0px;
   }

   footer>div>div>div>div>h2 {
      margin: 10px 0px 10px 0px;
   }
}

/*Media query: tablets (768) */
@media screen and (min-width:768px) {

   /* Enquiry Page */
   #enq-title {
      margin-top: 80px;
   }

   /* Success page */
   .text {
      width: 75%;
      margin-inline: auto;
   }
}

/*media query: larger screens (1024)*/
@media screen and (min-width: 1024px) {

   /*Carousel*/
   .carousel-image-size {
      width: 60%;
      margin: 90px auto 0;
   }

   /* About me */
   #about-me {
      padding-top: 75px;
      margin-top: -75px;
   }

   .about-margin {
      margin: 10px;
   }

   #about-image-size {
      width: 17rem;
      border-radius: 30px;
      object-fit: contain;
      margin: 0 auto 10px;
      display: block;
      aspect-ratio: 1;
   }

   /* Services */
   #services {
      padding-top: 75px;
      margin-top: -75px;
   }

   /* Testimonials */
   #testimonials {
      padding-top: 75px;
      margin-top: -75px;
   }

   /* enquiry Page */
   #enq-title {
      margin-top: 90px;
   }
}