/* Google Fonts - Arvo and Lato */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Arvo", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-background-color: #8CB3CE;
    /* light blue */
    --secondary-background-color: #F6F7F9;
    /* off-white */
    --primary-font-color: #1C261E;
    /* dark green */
    --tertiary-background-color: #384955;
}

/* Global Styles */

h1,
h2,
h3,
h6 {
    font-family: var(--primary-font);
    background-color: var(--primary-background-color);
    color: var(--primary-font-color)
}

body {
    background-color: var(--tertiary-background-color);
}

p {
    font-family: var(--secondary-font);
    color: var(--primary-font-color);
}

/* Navbar Styling */
.navbar {
    background-color: var(--tertiary-background-color);
}

/* Header */ 
header {
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    margin-bottom: 15px;
}

/* About Me Section */
#about-text {
    background-color: #F6F7F9;
}



/* grid visualisations for testing */
/*.container,
.row {
    border: 2px solid black;
}*/