/* Google Fonts - Arvo and Lato */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Arvo", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-background-color: #8CB3CE;
    /* light blue */
    --secondary-background-color: #F6F7F9;
    /* off-white */
    --primary-font-color: #1C261E;
    /* dark green */
    --tertiary-background-color: #5e8697;
    /* dark colour */
    --quaternary-background-color: #222529;
    /*grey*/
    --secondary-font-color: #9b9d9e;
}

/* Global Styles */

h1,
h2,
h3 {
   font-family: var(--primary-font);
   background-color: var(--quaternary-background-color);
   color: var(--primary-background-color);
   font-weight: 200;
   border-radius: 5%;
}

h4,
h5 {
   text-align: center;
   font-family: var(--primary-font);
}

body {
    margin-top: 20px;
    background-color: var(--tertiary-background-color);
 }

 section {
    margin-bottom: 20px;
 }

 li {
    font-family: var(--secondary-font);
 }

 .image-style {
    border-radius: 30px;
 }

 .btn-custom {
   border-radius: 20px;
   border: dashed white 2px;
   background-color: var(--quaternary-background-color);
   color: var(--secondary-font-color);
 }

 #enq-btn {
border: dashed aquamarine 6px;
   background-color: var(--quaternary-background-color);
   color: aquamarine;
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    font-size: large;
    font-family: var(--primary-font);
 }

 /* Navbar Styling */
.navbar { 2px
    background-color: var(--tertiary-background-color);
    margin-bottom: 15px;
}

nav {
    font-family: var(--primary-font);
 }

 /* Header */
.image-size {
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}

/* About Me Section */
#about-image-size {
    width: 270px;
    border-radius: 30px;
    object-fit: contain;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about {
    font-family: var(--primary-font);
    color: var(--secondary-font-color);
 }
 
 #about-text {
    background-color: var(--primary-background-color);
    font-family: var(--secondary-font);
    font-size: large;
    font-family: var(--secondary-font);
    text-align: start;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
 }

 Main>section>div>div>div>i {
    font-size: xx-large;
 }

 .aboutcard {
    font-size: small;
    font-family: var(--primary-font);
}
 
/* Services cards */
#services{
margin-top: 12px;
margin-bottom: 12px;
}

.card-text {
    font-family: var(--secondary-font);
 }

 .service-card {
    padding-top: 12px;
    background-color: var(--quaternary-background-color);
    color: azure;
    border-radius: 30px;
    margin-bottom: 10px;
 }

 #puppyprice {
    border: 2px dashed fuchsia;
    margin-bottom: 5px;
    border-radius: 30px;
 }
 
 #dogprice {
    border: 2px dashed aquamarine;
    margin-bottom: 5px;
    border-radius: 30px;
 }
 
 #soloprice {
    border: 2px dashed yellow;
    margin-bottom: 5px;
    border-radius: 30px;
 }

 /* Testimonials*/
.testimonial-card {
    padding-top: 12px;
    background-color: var(--quaternary-background-color);
    color: azure;
    border-radius: 30px;
    margin-bottom: 10px;
 }

 /* Footer */

footer {
    background-color: var(--quaternary-background-color);
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: large;
 }

 footer h1 {
    color: var(--secondary-font-color);
 }

 footer h1 a {
    color: var(--secondary-font-color);
 }

 footer>div>div>div>h2 {
    margin: 10px 150px 10px 150px;
 }
 
 
 footer>div>div>div>div>h2 {
    margin: 10px 150px 10px 150px;
 }
 
 /* Media query: phones (425 and down) */
@media screen and (min-width: 320px) {


    h1 {
        border-radius: 20%;
        font-size: xx-large;
    }

     /* About me */
   .card-shape {
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

   /* Footer */
   footer>div>div>div>h2 {
    margin: 10px 0px 10px 0px;
}


footer>div>div>div>div>h2 {
    margin: 10px 0px 10px 0px;
}
}

/*Media query: tablets and smaller (768) */
@media screen and (min-width:768px) {

/* About me cards */
    .card-shape {
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
    }
}

/*media query: larger screens (1024)*/
@media screen and (min-width: 1024px) {

    /*Title*/
    .title {
        margin-top: 100px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .service-card {
        display: flex;
        justify-content: space-around;
        border: 2px solid var(--tertiary-background-color);
    } 

    .about-margin {
        margin-left: 50px;
    }

    #about-image-size {
        width: 200px;
        border-radius: 30px;
        object-fit: contain;
        margin-bottom: 10px;
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
}



 


 
 

 





