/* Google Fonts - Arvo and Lato */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Arvo", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-background-color: #8CB3CE;
    /* light blue */
    --secondary-background-color: #F6F7F9;
    /* off-white */
    --primary-font-color: #1C261E;
    /* dark green */
    --tertiary-background-color: #5e8697;
    /* dark colour */
    --quaternary-background-color: #222529;
}

/* Global Styles */

h1,
h2,
h3,
h6 {
    font-family: var(--primary-font);
    background-color: var(--primary-background-color);
    color: var(--primary-font-color)
}

h4 {
    font-family: var(--primary-font);
}

body {
    background-color: var(--tertiary-background-color);
    margin-top: 20px;
}

/* Navbar Styling */
.navbar {
    background-color: var(--tertiary-background-color);
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px var(--tertiary-background-color);
}

nav {
    font-family: var(--primary-font);
}

/* Footer */
footer > div > div > div>  p {
    text-align: start;
}

/* Header */
.image-size {
    width: 100%;
    object-fit: contain;
}

#title {
    margin: 20px 0px 20px 0px;
}

/* About Me Section */
#about-text {
    background-color: #F6F7F9;
font-family: var(--secondary-font);
}

/* Services cards */
.card-text {
    font-family: var(--secondary-font);
}

footer {
    background-color: var(--quaternary-background-color);
    color:#9b9d9e;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: large;
}

footer h1 {
    background-color: var(--quaternary-background-color);
}

footer h1 a {
    color: #9b9d9e;
}

footer > div > div > div > h2 {
    margin: 10px 150px 10px 150px;
    background-color: var(--quaternary-background-color);
    color: azure;
}

footer > div > div > div > div > h2 {
    margin: 10px 150px 10px 150px;
    background-color: var(--quaternary-background-color);
    color: azure;
}

/* Media query: phones (425 and down) */
@media screen (min-width:425px) {
    .card #aboutme {
        width: 18rem;
    }
}

/*Media query: lg and xl screens */



/* grid visualisations for testing */
/* container,
.row {
    border: 2px solid black;
}*/
